@namespace Ganesha.DesignLab.Shared.Components.DesignSystem.Navigation
@using Ganesha.DesignLab.Shared.Extensions

<li class="gns-breadcrumb-item" aria-current="@(IsActive ? "page" : null)">
    @if (!IsActive && !string.IsNullOrEmpty(Href))
    {
        <a class="gns-breadcrumb-item__link" href="@Href">@Label</a>
    }
    else
    {
        <span class="gns-breadcrumb-item__label @(IsActive ? "gns-breadcrumb-item__label--active" : "")">@Label</span>
    }
    @if (!IsActive)
    {
        <span class="gns-breadcrumb-item__separator" aria-hidden="true">@_separator</span>
    }
</li>

@code {
    [CascadingParameter(Name = "BreadcrumbSeparator")] private string? _separator { get; set; }

    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string? Href { get; set; }
    [Parameter] public bool IsActive { get; set; } = false;
}
